.care
  .g-wrapper
    .care__heading
      .care__handwritten.handwritten Мы с особым трепетом относимся <br /> к раличным деталям обуви
      .care__header Внимание к деталям
    .care__block#embroidery
      .care__multi
        .care__info
          .care__name.care__name_left Вышивка
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/img1.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img2.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img3.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img4.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img5.png')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/img1.png')")
    .care__block.care__block_right#logotype
      .care__multi
        .care__info
          .care__name.care__name_right Логотип
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/img1.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img2.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img3.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img4.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img5.png')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/img1.png')")
    .care__block.care__block#monogramma
      .care__multi
        .care__info
          .care__name.care__name Монограмма
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/img1.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img2.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img3.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img4.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img5.png')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/img1.png')")
    .care__block.care__block_right#insoles
      .care__multi
        .care__info
          .care__name.care__name_right Стельки
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/img1.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img2.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img3.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img4.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img5.png')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/img1.png')")
    .care__block.care__block#sole
      .care__multi
        .care__info
          .care__name.care__name Подошва
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/img1.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img2.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img3.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img4.png')")
              .care__minislide.swiper-slide(style="background-image: url('/images/img5.png')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/img1.png')")
