.care
  .g-wrapper
    .care__heading
      .care__handwritten.handwritten Мы с особым трепетом относимся <br /> к раличным деталям обуви
      .care__header Внимание к деталям
    .care__block#embroidery
      .care__multi
        .care__info
          .care__name.care__name_left Вышивка
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/vishivka/vishivka-1.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/vishivka/vishivka-2.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/vishivka/vishivka-3.jpg')")
              //- .care__minislide.swiper-slide(style="background-image: url('/images/img4.png')")
              //- .care__minislide.swiper-slide(style="background-image: url('/images/img5.png')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/vishivka/vishivka-1.jpg')")
    .care__block.care__block_right#logotype
      .care__multi
        .care__info
          .care__name.care__name_right Логотип
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/logo/logo-1.JPG')")
              .care__minislide.swiper-slide(style="background-image: url('/images/logo/logo-2.JPG')")
              .care__minislide.swiper-slide(style="background-image: url('/images/logo/logo-3.JPG')")
              .care__minislide.swiper-slide(style="background-image: url('/images/logo/logo-4.JPG')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/logo/logo-1.JPG')")
    .care__block.care__block#monogramma
      .care__multi
        .care__info
          .care__name.care__name Монограмма
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/monogram/mono-1.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/monogram/mono-2.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/monogram/mono-3.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/monogram/mono-4.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/monogram/mono-5.jpg')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/monogram/mono-1.jpg')")
    .care__block.care__block_right#insoles
      .care__multi
        .care__info
          .care__name.care__name_right Стельки
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/stelki/stelki-1.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/stelki/stelki-2.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/stelki/stelki-3.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/stelki/stelki-4.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/stelki/stelki-5.jpg')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/stelki/stelki-1.jpg')")
    .care__block.care__block#sole
      .care__multi
        .care__info
          .care__name.care__name Подошва
        .care__bottom
          .care__slider.swiper-container
            .swiper-wrapper
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-1.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-2.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-3.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-4.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-5.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-6.jpg')")
              .care__minislide.swiper-slide(style="background-image: url('/images/types/types-7.jpg')")
          .care__controls
            span.care__left
              include ../../images/angle.svg
            span.care__right
              include ../../images/angle.svg
      .care__big(style="background-image: url('/images/types/types-1.jpg')")
