.costs
  .g-wrapper
    .costs__top
      .costs__left
        .costs__title Цены на пошив обуви
      .costs__right
        .handwritten.costs__handwritten Лучшие цены за качественный<br>и индивидуальный пошив обуви
    .costs__content
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
      .costs__item
        img.costs__image(src="../images/boots-costs.png")
        .costs__info
          .costs__name Лоферы, бельгийские лоферы
          .costs__shape
            include ../../images/shape-hand.svg
          .costs__price от <span>20 000</span> руб.
