.feedback
  .g-wrapper
    .feedback__content
      .feedback__title Записаться к нам на примерку
      form.feedback__form
        .feedback__item
          label.feedback__field * Ваше имя:
          input.feedback__input
        .feedback__item
          label.feedback__field * Ваш телефон:
          input.feedback__input
        .button.feedback__submit Записаться




