.feedback
  .g-wrapper
    .feedback__content
      .feedback__title Записаться к нам на примерку
      form.feedback__form
        .feedback__item
          .feedback__field * Ваше имя:
          input.feedback__input
        .feedback__item
          .feedback__field * Ваше телефон:
          input.feedback__input
        .button Записаться
