.g-wrapper
  .works__content.footer__boots_content
    .works__images.footer__images
      a(href="./images/works-1.png")
        img.works__img(src="./images/works-1.png")
      a(href="./images/works-2.png")
        img.works__img(src="./images/works-2.png")
      a(href="./images/stelki/stelki-3.jpg")
        img.works__img(src="./images/stelki/stelki-3.jpg")
      a(href="./images/works-1.png")
        img.works__img(src="./images/works-1.png")
      a(href="./images/works-2.png")
        img.works__img(src="./images/works-2.png")
      a(href="./images/works-1.png")
        img.works__img(src="./images/works-3.png")
      a(href="./images/works-2.png")
        img.works__img(src="./images/works-1.png")
      a(href="./images/works-1.png")
        img.works__img(src="./images/works-1.png")
      a(href="./images/works-2.png")
        img.works__img(src="./images/works-2.png")
      a(href="./images/works-1.png" style="display:none")
        img.works__img(src="./images/works-1.png")
      //- *** Для скрытых блоков, добавлять style="display:none" ***
      //- a(href="./images/works-2.png" style="display:none")
      //-   img.works__img(src="./images/works-2.png")
    .works__footer
      .button.jobs__button#footer-works Показать еще





