footer.footer#contacts
  .g-wrapper
    .footer__content
      .footer__grid
        .footer__title Контакты
        .footer__item
          img.footer__svg(src="./images/phone.svg")
          a(href="tel:+74993436392").footer__contact +7 (499) 343-63-92
        .footer__item
          img.footer__svg(src="./images/mail.svg")
          a(href="mailto:info@strogo-mtm.ru").footer__contact info@strogo-mtm.ru
        .footer__item
          img.footer__svg(src="./images/pin.svg")
          .footer__contact г. Москва, ул. Гончарная, д. 21
      .footer__grid
        .handwritten.footer__handwritten Мы всегда рады принять Вас <br>в нашем уютном шоу-руме
        form.feedback__form
          .feedback__item
            label.feedback__field * Ваше имя:
            input.feedback__input(type="text" required name="name" placeholder="Например, Антон")
          .feedback__item
            label.feedback__field * Ваш телефон:
            input.feedback__input(type="tel" required name="phone" placeholder="+7 (999) 999-99-99")
          .footer__item.footer__personal &nbsp; &nbsp; &nbsp; &nbsp;
            label.confirm__label
              input(type="checkbox")
              span
            p Я принимаю <a class="politics">соглашение сайта</a> об обработке персональных данных
          .button.feedback__submit Отправить
  .map-wrapper
    .footer__map
      //img(src="./images/map.png").footer__card
  .g-wrapper
    .footer__conf
      .footer__element
        .menu.footer__menu
          a.menu__item(href="#technology") Технологии пошива
          a.menu__item(href="#sketches") Эскизы моделей
          a.menu__item(href="#jobs") Наши работы
          a.menu__item(href="#costs") Цены
          a.menu__item(href="#contacts") Контакты
        .footer__text © 2017. STROGO Handcrafted. Все права защищены. <a class="politics"> Политика конфиденциальности</a>
      .footer__element
        .footer__text.footer__text_bold Сайт разработан
        a(href="http://www.spacecode.ru")
          img(src="./images/spacecode.svg").footer__spacecode


