.header__slider
  .header__slider_content
    .g-wrapper
      .header__controls
        span.header__pag.header__pag_left
          include ../../images/angle.svg
        span.header__pag.header__pag_right
          include ../../images/angle.svg
      //- .header-swiper-button-prev.swiper-button-prev
      //- .header-swiper-button-next.swiper-button-next
  .header-swiper.swiper-container#header-swiper
    .header-swiper-wrapper.swiper-wrapper
      a.swiper-slide(href="./images/top-slider/1.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/1.jpg")
      a.swiper-slide(href="./images/top-slider/2.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/2.jpg")
      a.swiper-slide(href="./images/top-slider/3.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/3.jpg")
      a.swiper-slide(href="./images/top-slider/4.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/4.jpg")
      a.swiper-slide(href="./images/top-slider/5.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/5.jpg")
      a.swiper-slide(href="./images/top-slider/6.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/6.jpg")
      a.swiper-slide(href="./images/top-slider/7.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/7.jpg")
      a.swiper-slide(href="./images/top-slider/8.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/8.jpg")
      a.swiper-slide(href="./images/top-slider/9.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/9.jpg")
      a.swiper-slide(href="./images/top-slider/10.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/10.jpg")
      a.swiper-slide(href="./images/top-slider/11.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/11.jpg")
      a.swiper-slide(href="./images/top-slider/12.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/12.jpg")
      a.swiper-slide(href="./images/top-slider/13.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/13.jpg")
      a.swiper-slide(href="./images/top-slider/14.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/14.jpg")
      a.swiper-slide(href="./images/top-slider/15.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/15.jpg")
      a.swiper-slide(href="./images/top-slider/16.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/16.jpg")
      a.swiper-slide(href="./images/top-slider/17.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/17.jpg")
      a.swiper-slide(href="./images/top-slider/18.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/18.jpg")
      a.swiper-slide(href="./images/top-slider/19.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/19.jpg")
      a.swiper-slide(href="./images/top-slider/20.jpg" data-swiper-autoplay="2000")
        .shine
          img(src="./images/top-slider/20.jpg")
//- and Add photos on _footer-boots.pug -//

