header.header
  .header__inner
    video.header__video(src="/images/video/header.mov" autoplay loop)
    .header__black
      .g-wrapper
        .header__top
          a.header__logo(href="/")
            include ../../images/logo.svg
          .header__menu
            .header__hamburger
              include ../../images/hamburger.svg
            .menu
              a.menu__item(href="#technology") Технологии пошива
              a.menu__item(href="#sketches") Эскизы моделей
              a.menu__item(href="#jobs") Наши работы
              a.menu__item(href="#costs") Цены
              a.menu__item(href="#contacts") Контакты
          .callback
            a.callback__phone(href="tel:+74993436392") +7 (499) 343-63-92
            .callback__call
              span.callback__icon
                include ../../images/icon-phone.svg
              span.callback__line
                button.callback__button Заказать звонок
        .header__content
          .header__left
            .header__title ИНДИВИДУАЛЬНЫЙ ПОШИВ  МУЖСКОЙ ОБУВИ НА ЗАКАЗ
            .header__buttons
              .header__but.sewing Заказать пошив
              a.header__but.header__but_border(href="http://mto.strogo-mtm.ru") Онлайн-конструктор
          .header__right
            .header__info STROGO handcrafted - бренд STROGO MTM, специализирующийся на изготовлении высококачественной обуви ручной работы.
            .header__info На выбор пошив обуви по технолоии MTO или bespoke.  Ниже Вы можете ознакомиться с примерами выполненных нами работ, а также с технологиями пошива, стоимостью и прочее.
            .header__info Будем рады видеть Вас в числе наших клиентов
    include _header-slider.pug
.header__right.header__right_mobile
  .g-wrapper
    .header__info_wrap
      .header__info STROGO handcrafted - бренд STROGO MTM, специализирующийся на изготовлении высококачественной обуви ручной работы.
      .header__info На выбор пошив обуви по технолоии MTO или bespoke.  Ниже Вы можете ознакомиться с примерами выполненных нами работ, а также с технологиями пошива, стоимостью и прочее.
      .header__info Будем рады видеть Вас в числе наших клиентов
