header.header
  .g-wrapper
    .header__top
      a.header__logo(href="/")
        include ../../images/logo.svg
      .menu
        button.menu__item Технологии пошива
        button.menu__item Эскизы моделей
        button.menu__item Наши работы
        button.menu__item Цены
        button.menu__item Контакты
      .callback
        a.callback__phone(href="tel:+74999999999") +7 (499) 999-99-99
        .callback__call
          span.callback__icon
            include ../../images/icon-phone.svg
          span.callback__line
            button.callback__button Заказать звонок
    .header__content
      .header__heading Индивидуальный пошив мужской <br /> обуви на заказ
      span.header__shape
        include ../../images/shape-header.svg
      span.header__text из натуральных материалов
      div
      button.header__button.button Заказать пошив
