.header__slider
  .header__slider_content
    .g-wrapper
      .header__controls
        span.header__pag.header__pag_left
          include ../../images/angle.svg
        span.header__pag.header__pag_right
          include ../../images/angle.svg
      //- .header-swiper-button-prev.swiper-button-prev
      //- .header-swiper-button-next.swiper-button-next
  .header-swiper.swiper-container#header-swiper
    .header-swiper-wrapper.swiper-wrapper
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")
      a.swiper-slide(href="./images/slider-2.png" data-swiper-autoplay="2000")
        img(src="./images/slider-2.png")
      a.swiper-slide(href="./images/slider-1.png" data-swiper-autoplay="2000")
        img(src="./images/slider-1.png")

//- and Add photos on _footer-boots.pug -//

