.jobs
  .g-wrapper
    .jobs__heading
      .jobs__header Наши работы
      .jobs__handwritten.handwritten Примеры обуви, разработанной нами
    .jobs__category Категория:
    .jobs__select Все
      .jobs__angle
        include ../../images/angle.svg
      select.jobs__oselect
        option Все
        option Броги
        option Дерби
        option Лоуферы
        option Гонки
        option Оксфорды
        option Сингл монки
        option Whole сut
        option Другое
    .jobs__groups
      .jobs__group.jobs__group_active Все
      .jobs__group Броги
      .jobs__group Дерби
      .jobs__group Лоуферы
      .jobs__group Гонки
      .jobs__group Оксфорды
      .jobs__group Сингл монки
      .jobs__group Whole сut
      .jobs__group Другое
    .jobs__blocks
      .jobs__block.jobs__block_left
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
      .jobs__block.jobs__block_right
        img.jobs__image(src="/images/shoe.png")
        .jobs__shape
          include ../../images/shape-hand.svg
        .jobs__label Brogi Brown Leather
        .jobs__price 15 000 <span>руб.</span>
    .jobs__footer
      .button.jobs__button Показать еще

