.jobs#jobs
  .g-wrapper
    .jobs__heading
      .jobs__header Наши работы
      //.jobs__handwritten.handwritten Примеры обуви, разработанной нами
    .jobs__category Категория:
    .jobs__select Все
      .jobs__angle
        include ../../images/angle.svg
      select.jobs__oselect
        option(value='all') Все
        option(value='brogs') Броги
        option(value='derbi') Дерби
        option(value='lofers') Лоферы
        option(value='double') Дабл монки
        option(value='single') Сингл монки
        option(value='oxfords') Оксфорды
        option(value='slippers') Слипперы
        option(value='howlcuts') Хоулкатс
    .jobs__groups
      .jobs__group.jobs__group_active(data-category='all') Все
      .jobs__group(data-category='brogs') Броги
      .jobs__group(data-category='derbi') Дерби
      .jobs__group(data-category='lofers') Лоферы
      .jobs__group(data-category='double') Дабл монки
      .jobs__group(data-category='single') Сингл монки
      .jobs__group(data-category='oxfords') Оксфорды
      .jobs__group(data-category='slippers') Слипперы
      .jobs__group(data-category='howlcuts') Хоулкатс
  .g-wrapper.g-wrapper-mobile
    .jobs__blocks
    .jobs__blocks_template(style="display: none")
    .jobs__footer
      .button.jobs__button Показать еще

