.mob-menu
  .mob-menu__top
    .callback
      a.callback__phone(href="tel:+74993436392") +7 (499) 343-63-92
      .callback__call
        span.callback__icon
          include ../../images/icon-phone.svg
        span.callback__line
          button.callback__button Заказать звонок
    .mob-menu__close
      include ../../images/cross.svg
  .mob-menu__menu
    a.mob-menu__item(href="#technology") Технологии пошива
    a.mob-menu__item(href="#sketches") Эскизы моделей
    a.mob-menu__item(href="#jobs") Наши работы
    a.mob-menu__item(href="#present") Сертификат
    a.mob-menu__item(href="#costs") Цены
    a.mob-menu__item(href="#contacts") Контакты
