.sketches#sketches
  .g-wrapper
    .sketches__heading
      .sketches__handwritten.handwritten Мы тщательно прорабатываем <br /> эскиз для каждой модели
      .sketches__header Эскизы моделей
  span.sketches__wrapper
    .g-wrapper
      .sketches__blocks
        include ../data/_sketches.pug

