.sketches#sketches
  .g-wrapper
    .sketches__heading
      .sketches__handwritten.handwritten Мы тщательно прорабатываем <br /> эскиз для каждой модели
      .sketches__header Эскизы моделей
  .g-wrapper.g-wrapper-mobile
    span.sketches__wrapper
      .g-wrapper.g-wrapper-mobile
        .sketches__blocks
          include ../data/_sketches.pug

