.sketches#top-slider
  span.sketches__wrapper
    .sketches__blocks
      - for(let i = 1 ; i < 12 ; i++)
        .sketches__top-slider
          img(src=`/images/top-slider/${i}.jpg`)
  .sketches__controls
    .sketches__button.sketches__button_left
      .sketches__circle
        include ../../images/angle.svg
    .sketches__range
      .sketches__line
        .sketches__button.sketches__button_mini
          .sketches__circle
      input.sketches__input(type="range" min="0" max="100" step="1" value="0")
    .sketches__button.sketches__button_right
      .sketches__circle
        include ../../images/angle.svg
