.table
  .g-wrapper
    .costs__title Цены на пошив мужской обуви
    .table__content
      table.table__costs(cellpadding="0")
        tbody.table__tbody
          tr.table__tr
            th.table__th Наименование
            th.table__th.table__th_dark Цены
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost от 20000  руб.
          tr.table__tr
            td.table__td Слиперы
            td.table__td.table__td_cost от 20000  руб.
          tr.table__tr
            td.table__td Мокасины
            td.table__td.table__td_cost от 20000  руб.
          tr.table__tr
            td.table__td Обувь для гольфа
            td.table__td.table__td_cost от 30000  руб.
          tr.table__tr
            td.table__td Кеды
            td.table__td.table__td_cost от 18000  руб.
          tr.table__tr
            td.table__td Хайтопы
            td.table__td.table__td_cost от 24000 руб.
          tr.table__tr
            td.table__td Слипоны
            td.table__td.table__td_cost от 16000 руб.
          tr.table__tr
            td.table__td Челси
            td.table__td.table__td_cost от 30000 руб.
          tr.table__tr
            td.table__td Милитари броги
            td.table__td.table__td_cost от 28000 руб.
          tr.table__tr
            td.table__td Чукка
            td.table__td.table__td_cost от 25000 руб.
          tr.table__tr
            td.table__td Оксфорды, Броги, Дерби, Монки
            td.table__td.table__td_cost от 25000 руб.
          tr.table__tr
            td.table__td Обувь с патиной
            td.table__td.table__td_cost от 30000 руб.                         
  include _footer-boots.pug


