.table
  .g-wrapper
    .costs__title Цены на пошив
    .table__content
      table.table__costs(cellpadding="0")
        tbody.table__tbody
          tr.table__tr
            th.table__th Наименование
            th.table__th.table__th_dark Цены
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
          tr.table__tr
            td.table__td Лоферы, бельгийские лоферы
            td.table__td.table__td_cost От 20000 
  include _footer-boots.pug


