.technology
  .g-wrapper
    .technology__top
      .technology__left
        .technology__title Технологии уникального<br>пошива обуви
        .technology__text.technology__text_top Индивидуальный пошив обуви - эксклюзивная услуга STROGO MTM. Доступно на выбор <span>две технологии</span> индивидуального пошива обуви, это <span>MTO (Made toorder)</span> и <span>BESPOKE</span>
      .technology__right
        .handwritten.technology__handwritten Современные технологии<br>классического пошива
    .technology__content
      .technology__content_left
        img.technology__img(src="./images/technology-1.png")
      .technology__content_right
        .technology__subtitle BESPOKE
        .technology__descript Bespoke мастер каждый месяц отшивает лишь несколько пар, которые многие годы будут радовать своих хозяев
        .technology__text.technology__text_content Пошив по меркам заказчика с изготовлением индивидуальной колодки позволяет учесть все особенности стопы и сделать обувь действительно удобной и комфортной, что очень важно, поскольку непосредственно влияет на здоровье и настроение человека
        .technology__text.technology__text_content Обувь изготавливается вручную с использованием только натуральных материалов на основе индивидуальной колодки клиента (возможно изготовление сложной ортопедической обуви)

    .technology__content.technology__content_rev
      .technology__content_right.technology__content_rightrev
        .technology__text.technology__text_content На первой встрече снимаются мерки, подбираются материалы и разрабатывается эскиз будущей пары. На второй встрече примеряется макет обуви для того, чтобы уточнить особенности стопы и внести изменения в колодку. Если изменений в макет вносить не нужно, – к третьей встрече обувь готова
        .technology__text.technology__text_content Впоследствии на процесс изготовления других пар обуви тратится существенно меньше времени, поскольку колодка сохраняется у нас или, по желанию, может храниться у заказчика
        .technology__foot
          .button.technology__button Заказать пошив
          .technology__text.technology__text_big <span> по технологии Bespoke </span>
      .technology__content_left.technology__content_leftrev
        img.technology__img.technology__img_min(src="./images/technology-2.png")

    .technology__content
      .technology__content_left
        img.technology__img(src="./images/technology-3.png")
      .technology__content_right
        .technology__subtitle MTO
        .technology__text.technology__text_content Для снятия мерок по технологии MTO, мастер подбирает для вас наиболее удобную колодку из имеющегося размерного ряда
        .technology__text.technology__text_content Технология позволяет добиться максимально комфортных ощущений, но не учитывает все особенности стопы клиента в отличие от BESPOKE, где мастер снимает до 10 мерок с каждой стопы, учитывая все особенности

    .technology__content.technology__content_rev
      .technology__content_right.technology__content_rightrev
        .technology__text.technology__text_content Главный плюс технологии MTO состоит в том, что с помощью специальной программы на нашем сайте: <br> <a href="http://shoes.strogo-mtm.ru/"> http://shoes.strogo-mtm.ru/</a>, Вы можете сконструировать свой персональный дизайн будущей пары и подобрать материалы через удобный интерфейс, а также украсить каблук будущей обуви аккуратной лазерной монограммой, или добавить вышивку или узор на мыс

        .technology__foot
          .button.technology__button Заказать пошив
          .technology__text.technology__text_big <span> по технологии MTO </span>
      .technology__content_left.technology__content_leftrev
        img.technology__img.technology__img_min(src="./images/technology-4.png")
