.works
  .g-wrapper
    .costs__title.works__title Внимание к деталям
    .works__content
      .technology__descript.works__descript STROGO handcrafted предоставляет широкие возможности по кастомизации и пресонизации Вашей обуви.      
      .works__subtitle Доступные опции:
      .works__items
        .works__grid
          .works__item Модель обуви
          .works__item Материалы составных элементов<br> верха обуви
          .works__item Материал подошвы
        .works__grid
          .works__item Ваши инициалы
          .works__item Цвет подошвы 
          .works__item Тип шнуровки 
        .works__grid
          .works__item Шнурки и их цвет 
          .works__item Рисунки на верхней части обуви<br>  и многое другое
      .works__images
        a(href="./images/mon-1.jpg")
          .shine
            img.works__img(src="./images/mon-1.jpg")
        a(href="./images/v-1.jpg")
          .shine
            img.works__img(src="./images/v-1.jpg")
        a(href="./images/stelki/stelki-3.jpg")
          .shine
            img.works__img(src="./images/stelki/stelki-3.jpg")
        a(href="./images/mon-2.jpg")
          .shine
            img.works__img(src="./images/mon-2.jpg")
        a(href="./images/stelki/stelki-4.jpg")
          .shine
            img.works__img(src="./images/stelki/stelki-4.jpg")
        a(href="./images/stelki/v-2.jpg")
          .shine
            img.works__img(src="./images/v-2.jpg")
        a(href="./images/stelki/stelki-5.jpg")
          .shine
            img.works__img(src="./images/stelki/stelki-5.jpg")
        a(href="./images/v-3.jpg")
          .shine
            img.works__img(src="./images/v-3.jpg")
        a(href="./images/v-4.jpg")
          .shine
            img.works__img(src="./images/v-4.jpg")
        a(href="./images/works-1.png" style="display:none")
          .shine
            img.works__img(src="./images/works-1.png")
        a(href="./images/works-2.png" style="display:none")
          .shine
            img.works__img(src="./images/works-2.png")
        a(href="./images/works-1.png" style="display:none")
          .shine
            img.works__img(src="./images/works-1.png")
        a(href="./images/works-2.png" style="display:none")
          .shine
            img.works__img(src="./images/works-2.png")
        a(href="./images/works-1.png" style="display:none")
          .shine
            img.works__img(src="./images/works-1.png")
        a(href="./images/works-2.png" style="display:none")
          .shine
            img.works__img(src="./images/works-2.png")
      .works__footer
        .button.jobs__button#more-works Показать еще





