.works
  .g-wrapper
    .costs__title.works__title Внимание к деталям
    .works__content
      .technology__descript.works__descript STROGO handcrafted предоставляет широкие возможности по кастомизации и пресонизации Вашей обуви.      
      .works__subtitle Доступные опции:
      .works__items
        .works__grid
          .works__item Модель обуви
          .works__item Материалы составных элементов<br> верха обуви
          .works__item Материал подошвы
        .works__grid
          .works__item Ваши инициалы
          .works__item Цвет подошвы 
          .works__item Тип шнуровки 
        .works__grid
          .works__item Шнурки и их цвет 
          .works__item Рисунки на верхней части обуви
          .works__item Патина на обуви<br>  и многое другое
  .g-wrapper.g-wrapper-mobile
    .works__images
    .works__images_template(style="display:none")
      a(href="./images/detal-1.jpg")
        .shine
          img.works__img(data-src="./images/detal-1.jpg" src="")
      a(href="./images/detal-2.jpg")
        .shine
          img.works__img(data-src="./images/detal-2.jpg" src="")
      a(href="./images/detal-3.jpg")
        .shine
          img.works__img(data-src="./images/detal-3.jpg" src="")
      a(href="./images/detal-4.jpg")
        .shine
          img.works__img(data-src="./images/detal-4.jpg" src="")
      a(href="./images/detal-5.jpg")
        .shine
          img.works__img(data-src="./images/detal-5.jpg" src="")
      a(href="./images/detal-6.jpg")
        .shine
          img.works__img(data-src="./images/detal-6.jpg" src="")
      a(href="./images/detal-7.jpg")
        .shine
          img.works__img(data-src="./images/detal-7.jpg" src="")
      a(href="./images/detal-8.jpg")
        .shine
          img.works__img(data-src="./images/detal-8.jpg" src="")
      a(href="./images/detal-9.jpg")
        .shine
          img.works__img(data-src="./images/detal-9.jpg" src="")
      a(href="./images/detal-10.jpg")
        .shine
          img.works__img(data-src="./images/detal-10.jpg" src="")
      a(href="./images/detal-11.jpg")
        .shine
          img.works__img(data-src="./images/detal-11.jpg" src="")
      a(href="./images/detal-12.jpg")
        .shine
          img.works__img(data-src="./images/detal-12.jpg" src="")
      a(href="./images/detal-13.jpg")
        .shine
          img.works__img(data-src="./images/detal-13.jpg" src="")
      a(href="./images/detal-14.jpg")
        .shine
          img.works__img(data-src="./images/detal-14.jpg" src="")
      a(href="./images/detal-15.jpg")
        .shine
          img.works__img(data-src="./images/detal-15.jpg" src="")
      a(href="./images/detal-16.jpg")
        .shine
          img.works__img(data-src="./images/detal-16.jpg" src="")
      a(href="./images/detal-17.jpg")
        .shine
          img.works__img(data-src="./images/detal-17.jpg" src="")
      a(href="./images/detal-18.jpg")
        .shine
          img.works__img(data-src="./images/detal-18.jpg" src="")
      a(href="./images/detal-19.jpg")
        .shine
          img.works__img(data-src="./images/detal-19.jpg" src="")
      a(href="./images/detal-20.jpg")
        .shine
          img.works__img(data-src="./images/detal-20.jpg" src="")
      a(href="./images/detal-21.jpg")
        .shine
          img.works__img(data-src="./images/detal-21.jpg" src="")
      a(href="./images/detal-22.jpg")
        .shine
          img.works__img(data-src="./images/detal-22.jpg" src="")
      a(href="./images/detal-23.jpg")
        .shine
          img.works__img(data-src="./images/detal-23.jpg" src="")
      a(href="./images/detal-24.jpg")
        .shine
          img.works__img(data-src="./images/detal-24.jpg" src="")
      a(href="./images/detal-25.jpg")
        .shine
          img.works__img(data-src="./images/detal-25.jpg" src="")
      a(href="./images/detal-26.jpg")
        .shine
          img.works__img(data-src="./images/detal-26.jpg" src="")
    .works__footer
      .button.jobs__button#more-works Показать еще





