.works
  .g-wrapper
    .costs__title.works__title Внимание к деталям
    .works__content
      .technology__descript.works__descript STROGO handcrafted предоставляет широкие возможности по кастомизации и пресонизации Вашей обуви.      
      .works__subtitle Доступные опции:
      .works__items
        .works__grid
          .works__item Модель обуви
          .works__item Материалы составных элементов<br> верха обуви
          .works__item Материал подошвы
        .works__grid
          .works__item Ваши инициалы
          .works__item Цвет подошвы 
          .works__item Тип шнуровки 
        .works__grid
          .works__item Шнурки и их цвет 
          .works__item Рисунки на верхней части обуви<br>  и многое другое
      .works__images
        img.works__img(src="./images/works-1.png")
        img.works__img(src="./images/works-2.png")
        //img.works__img(src="./images/stelki/stelki-3.jpg")
        img.works__img(src="./images/works-1.png")
        img.works__img(src="./images/works-2.png")
        img.works__img(src="./images/works-3.png")
        img.works__img(src="./images/works-1.png")
        img.works__img(src="./images/works-2.png")
        img.works__img(src="./images/works-3.png")





