.sketch(data-boots="single-monks")
  .sketch__sketch
    include ../../images/single-monkis.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Сингл монки
.sketch(data-boots="double-monks")
  .sketch__sketch
    include ../../images/double-monks.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Дабл Монки
.sketch(data-boots="brogs")
  .sketch__sketch
    include ../../images/sketch-2.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Броги
.sketch(data-boots="lufers")
  .sketch__sketch
    include ../../images/sketch-3.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Люферы
.sketch(data-boots="houlcats")
  .sketch__sketch
    include ../../images/sketch-4.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Хоулкатс
.sketch(data-boots="derbi")
  .sketch__sketch
    include ../../images/derbi.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Дерби
.sketch(data-boots="oxfords")
  .sketch__sketch
    include ../../images/oxfords.svg
  .sketch__shape
    include ../../images/shape-hand.svg
  .sketch__label Оксфорды

