extends layouts/_main.pug

block content
  include blocks/_header.pug
  include blocks/_jobs.pug
  include blocks/_feedback.pug
  include blocks/_technology.pug
  include blocks/_costs.pug
  include blocks/_footer.pug
