extends layouts/_main.pug

block content
  include blocks/_mob-menu.pug
  include blocks/_header.pug
  //include blocks/_slider.pug
  include blocks/_jobs.pug
  include blocks/_works.pug
  //include blocks/_care.pug
  include blocks/_feedback.pug
  include blocks/_technology.pug
  include blocks/_present.pug
  include blocks/_sketches.pug
  //include blocks/_costs.pug
  include blocks/_certificates.pug
  include blocks/_table-costs.pug
  include blocks/_footer.pug
