@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
  font-weight: normal
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf');
  font-weight: 700
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Semibold.ttf');
  font-weight: 600
}

@font-face {
  font-family: 'Solena';
  src: url('/fonts/Solena-Regular.otf');
  font-weight: normal
}

@font-face {
  font-family: 'Intro';
  src: url('/fonts/Intro.otf');
  font-weight: normal
}
