*
  margin 0
  padding 0
  box-sizing border-box
  outline: none
  text-decoration none

html
  font-size: 10px

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 0.6rem
  padding-right 0.6rem

.button
  background-color #D59B64
  border none
  padding 2rem 6.2rem
  font-family: 'Open Sans'
  font-weight: 700
  color: white
  font-size: 1.6rem
  border-radius 4rem
  cursor pointer
  transition: .3s
  &:hover
    background-color: #C88B52

.handwritten
  display inline-block
  font-family: 'Solena'
  font-size: 4rem
  color #C88B52
  transform-origin: left bottom
  transform: rotate(-11deg)

@media (max-width: 1024px)
  .g-wrapper
    max-width: 72rem
  .button
    font-size: 1.4rem
    padding 1.5rem 3.6rem
  .handwritten
    font-size: 2.4rem

@media (max-width: 719px)
  .g-wrapper
    max-width: 29rem
  .button
    font-size: 1.2rem
    padding 1.4rem 2.6rem
  .handwritten
    font-size: 2rem
