.care
  position relative
  z-index 1
  padding-top 7rem
  &__heading
    display flex
    justify-content: space-between
    align-items: center
    margin-bottom 1.4rem
  &__header
    font-family: 'Intro'
    font-size: 4rem
    color: black
    white-space nowrap
  &__name
    display inline-block
    position relative
    font-family: 'Intro'
    font-size: 8rem
    color #F3E5D8
    &:after
      content: ''
      position absolute
      top calc(100% + 4rem)
      left 0
      width 9.9rem
      height 2.8rem
      background: url('/images/shape-hand.svg') center center/cover no-repeat
    &:before
      content: ''
      position absolute
      top -7rem
      width 38rem
      height 28.8rem
      background: url('/images/pluses.png') center center/cover no-repeat
      z-index -1
    &_left:before
      right 100%
      transform translateX(50%)
    &_right:before
      left 100%
      transform translateX(-50%)
  &__block
    display flex
    height 56.6rem
    margin-bottom 8rem
    &_right
      & ^[0]__big
        order: -1
      & ^[0]__multi
        padding-right 0
        padding-left 2.4rem
  &__multi
    width 48.5rem
    flex-grow: 0
    flex-shrink: 0
    padding-right 2.4rem
  &__info
    display flex
    align-items: center
    height 50%
  &__slider
    height 12.1rem
  &__big
    flex-grow: 1
    background-size: cover
    box-shadow: 0 10px 24px rgba(0,0,0,0.08)
  &__bottom
    height 50%
    padding-top 1.5rem
  &__minislide
    background-size: cover
    transition .3s
    cursor pointer
    &:hover
      opacity 0.5
    &.is-selected
      opacity 0.2
  &__controls
    user-select none
    display: flex;
    justify-content: flex-end;
    padding-top: 6rem;
  &__left
    cursor pointer
    margin-right 6rem
    & svg
      transform: rotate(90deg)
      height:  2.2rem
      & path
        transition: .3s
        fill #D2D2D2
    &:hover path
      fill black
  &__right
    cursor pointer
    & svg
      transform: rotate(-90deg)
      height:  2.2rem
      & path
        transition: .3s
        fill #D2D2D2
    &:hover path
      fill black

@media (max-width: 1024px)
  .care
    padding-top 4rem
    &__block
      height 35.4rem
      margin-bottom 6rem
    &__multi
      width 31rem
    &__slider
      height 7.5rem
    &__info
      height 44%
    &__header
      font-size: 2.8rem
    &__name
      font-size: 4rem
      &:after
        top calc(100% + 1rem)
        width 6.1rem
        height 1.7rem
    &__left, &__right
      & svg
        height 1.6rem
    &__left
      margin-right 3.5rem

@media (max-width: 719px)
  .care
    padding-top 2rem
    &__block
      margin-bottom 0
      &:last-child
        margin-bottom 3rem
      &_right ^[0]__multi
        padding-left 0
    &__heading
      flex-direction: column
    &__header
      font-size: 2rem
      align-self: flex-end
      order -1
    &__handwritten
      align-self: flex-start
      padding-top 5rem
    &__info
      height 8rem
    &__name
      font-size: 3rem
      &:before
        display none
    &__big
      display none
    &__slider
      height 25.1rem
    &__bottom
      height: auto
    &__multi
      padding-left 0
      padding-right 0
      width 100%
    &__minislide
      &:hover
        opacity 1
    &__controls
      transform: translateY(-28rem)
      padding-top 0
    &__left, &__right
      & svg
        height 1.5rem
