.feedback
  background url('../images/bg-feedback.png') no-repeat
  background-size cover
  padding 14rem 0 14rem 0
  &__content
    display flex
    flex-direction column
    align-items: center
    justify-content: center
  &__title
    font-size 4rem
    font-family Intro
    text-transform: uppercase
    color white
    margin-bottom 6.2rem
  &__item
    margin-bottom 3.6rem
    &:nth-child(2)
      margin-bottom 6rem
  &__field
    font-size 1.6rem
    color #D8D8D8
    font-family: Open Sans
    margin-bottom 2rem
  &__input
    background-color RGBA(42,42,42,0.9)
    border 0.1rem solid #565656
    color #626262
    padding 1.5rem 3.4rem 1.5rem 3.4rem
    border-radius 14rem
