.footer
  background: url('../images/bg-footer.png') center center/cover no-repeat
  padding 0 0 5rem 0
  &__content
    display flex
    justify-content space-between
    align-items: flex-start
    margin-bottom 12.2rem
  &__grid
    flex-basis 32%
    padding-top 14rem
    &:nth-child(2)
      padding-top 10rem
      align-self: flex-start
  &__item
    display flex
    align-items: center
    margin-bottom 4.6rem
  &__title
    font-size 4rem
    font-family Intro
    color white
    margin-bottom 10rem
  &__contact
    font-size 1.8rem
    color white
    font-family Open Sans
    font-weight: bold
  &__svg
    margin-right 2rem
  &__handwritten
    margin-bottom 4.4rem
  &__map
    width:100%;
    height 62rem
    margin-bottom 5.6rem
    background: url(../images/map.png) center center/cover no-repeat
    background-size: cover
  &__card
    width 100%
    object-fit: cover
  &__conf
    display flex
    justify-content: space-between
    align-items: center
  &__element
    display: flex
    flex-direction: column
    align-items: flex-start
    &:last-child
      align-items: flex-end
  &__text
    font-size 1.6rem
    font-family: Open Sans
    margin-bottom 1.6rem
    color white
    &_bold
      font-weight: bold
    & a
      color #d59b64
      cursor pointer
  &__menu
    margin-bottom 4rem
  &__personal
    width 40rem
    display flex
    align-items center
    justify-content: center
    font-size: 1rem;
    color: #d8d8d8;
    font-family: Open Sans;
    margin-bottom: 2rem;
    text-align: left;
    & a
      color #d59b64
      cursor pointer
    & p
      font-size 1.4rem
.map-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 0.6rem
  padding-right 0.6rem
.confirm__label
  width 16px
  height: 16px
  display: block
  position: relative
  margin-right 1rem
.confirm__label input[type="checkbox"] + span
  position absolute
  left: -1px;
  top: -7px;
  width: 20px;
  height: 20px;
  cursor pointer
  border-radius: 4px
.confirm__label input[type="checkbox"]:checked + span
  background url('../images/confirm.png') center center/cover no-repeat
  background-size: cover

// MEDIA

@media (max-width: 1024px)
  .footer
    &__title
      font-size: 2.8rem
      margin-bottom 4.6rem
    &__personal
      width 34rem
    &__grid
      flex-basis 46%
      padding-top 10rem
      &:nth-child(2)
        padding-top 8rem
    &__item
      margin-bottom 3.6rem
    &__contact
      font-size 1.6rem
    &__content
      margin-bottom 10rem
    &__map
      margin-bottom 3rem
    &__text
      font-size 1.2rem
      margin-bottom 1rem
  .map-wrapper
    max-width: 72rem


@media (max-width: 719px)
  .footer
    padding 0 0 3rem 0
    &__title
      font-size: 2rem
      margin-bottom 3.4rem
    &__personal
      width 100%
      p
        font-size 1.2rem
    &__grid
      flex-basis 100%
      padding-top 6rem
      &:nth-child(2)
        padding-top 2.5rem
    &__item
      margin-bottom 2.2rem
    &__contact
      font-size 1.4rem
    &__content
      margin-bottom 6rem
      flex-wrap: wrap
    &__map
      margin-bottom 3rem
      height 20.6rem
    &__text
      font-size 1.2rem
      margin-bottom 1rem
    &__handwritten
      display none
    &__conf
      display block
    &__element
      display inline-block
      width 100%
      margin-bottom 1.4rem
      text-align center
      &:last-child
        margin-bottom 0
  .map-wrapper
    max-width: 100%
    padding-left 0rem
    padding-right 0rem
