.header
  background url('/images/bg-header.png') center center/cover no-repeat
  &__black
    background-color: rgba(0,0,0,0.55);
  &__top
    display flex
    padding-top 3rem
    align-items: center
  &__menu
    flex-grow: 1
  &__content
    padding-top 10.8rem
    padding-bottom 14rem
    display flex
    align-items flex-start
    justify-content space-between
  &__heading
    font-family: 'Intro'
    font-size: 4.2rem
    color: white
    line-height: 6.2rem
    margin-bottom 0.8rem
  &__text
    font-family: 'Solena'
    font-size: 5rem
    color: white
    margin-left 4.2rem
  &__shape
    & svg
      height 5.6rem
  &__button
    margin-top 7rem
  &__logo
    & svg
      height 12rem
    & path
      transition .3s
    &:hover path
      fill #D19863
  &__hamburger
    display none
    justify-content: center
    & svg
      height 2.6rem
      cursor pointer
  &__title
    color: #ffffff;
    font-family: Intro;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 5.2rem;
    margin-bottom 2rem
  &__buttons
    display flex
    justify-content flex-start
    align-items center
  &__but
    padding 2rem 4rem
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 700;
    box-shadow: 1.4rem 1.4rem 2rem rgba(0, 0, 0, 0.15);
    background-color: #bb5e36;
    border: 0.2rem solid transparent;
    margin-right 1rem
    cursor pointer
    transition 0.3s
    &_border
      background none
      box-shadow: 1.4rem 1.4rem 2rem rgba(0, 0, 0, 0.15);
      border: 0.2rem solid #bb5e36;
      margin-right 0
  &__info
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-bottom 3rem
    &:last-child
      margin-bottom 0
  &__right
    padding-left 3.4rem
    border-left 0.8rem solid #bb5e36;
    flex-basis 48%
  &__left
    flex-basis 46%

.header-swiper .swiper-container {
      width: 100%;
      height: 100%;
    }
.header__slider > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.menu
  display flex
  justify-content: center
  &__item
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.5rem
    color white
    border: none
    background-color: transparent
    cursor pointer
    transition: .3s
    margin-right 3rem
    &:last-child
      margin-right 0
    &:hover
      color: rgb(197, 134, 81)

.callback
  text-align right
  &__phone
    font-family: 'Open Sans'
    display block
    font-weight: 700
    color: white
    font-size: 2rem
    margin-bottom 1.2rem
  &__call
    display flex
    justify-content: flex-end
    align-items: flex-end
    &:hover
      & ^[0]__line
        border-color: white
      & ^[0]__button
        color: white
      & path
        fill white
  &__icon
    padding-right 1rem
    & svg
      width 1.8rem
  &__line
    border-bottom 1px dashed #D19863
    padding-bottom .6rem
  &__button
    position relative
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.4rem
    color #D19863
    background-color: transparent
    border none
    cursor pointer

// MEDIA

@media (max-width: 1024px)
  .menu
    display none
  .header
    &__top
      padding-top 1rem
    &__logo svg
      height: 8.3rem
    &__hamburger
      display flex
    &__content
      padding-top 9rem
      padding-bottom 13.5rem
    &__button
      margin-top 5rem
    &__heading
      font-size: 3rem
      line-height: 4.6rem
    &__text
      font-size: 3.4rem
    &__shape
      overflow: hidden;
      width: 15rem;
      display: inline-block;
      & svg
        height 4.6rem
  .callback
    &__phone
      font-size 2rem
      margin-bottom .8rem
    &__button
      font-size: 1.2rem

@media (max-width: 719px)
  .header
    &__top
      padding-top 2rem
    &__logo svg
      height: 5.7rem
    &__hamburger
      & svg
        height 2.3rem
        position: fixed
        top 4rem
        right 1.5rem
        z-index: 9
        & rect
          fill: #D19863
    &__content
      padding-top 7.7rem
      padding-bottom 10rem
    &__button
      margin-top 3rem
    &__heading
      font-size: 2.2rem
      line-height: 3.6rem
    &__text
      font-size: 2.2rem
      margin-left 1.6rem
    &__shape
      overflow: hidden;
      width: 5rem;
      display: inline-block;
      transform: translateY(.5rem);
      & svg
        height 2.3rem
    &__title
      font-size: 2.2rem;
      line-height: 3.6rem;
      margin-bottom 3rem
    &__content
      display block
      padding-bottom 4rem
    &__buttons
      display block
      margin-bottom 4rem
    &__but
      padding 1.6rem 2.4rem
      font-size: 1.3rem;
      width 20rem
      text-align center
      margin-bottom 1rem
    &__slider
      display none
    &__info
      font-size 1.2rem
      line-height: 2rem;
      margin-bottom 2.8rem
  .callback
    display none
