.header
  background url('/images/bg-header.png') center center/cover no-repeat
  &__top
    display flex
    padding-top 30px
    align-items: center
  &__content
    padding-top 10.8rem
    padding-bottom 14rem
  &__heading
    font-family: 'Intro'
    font-size: 4.2rem
    color: white
    line-height: 6.2rem
    margin-bottom 0.8rem
  &__text
    font-family: 'Solena'
    font-size: 5rem
    color: white
    margin-left 4.2rem
  &__button
    margin-top 7rem
  &__logo
    & path
      transition .3s
    &:hover path
      fill #D19863

.menu
  flex-grow: 1
  display flex
  justify-content: center
  &__item
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.5rem
    color white
    border: none
    background-color: transparent
    cursor pointer
    transition: .3s
    margin-right 3rem
    &:last-child
      margin-right 0
    &:hover
      color: rgb(197, 134, 81)

.callback
  text-align right
  &__phone
    font-family: 'Open Sans'
    display block
    font-weight: 700
    color: white
    font-size: 2rem
    margin-bottom 1.2rem
  &__call
    display flex
    justify-content: flex-end
    align-items: flex-end
    &:hover
      & ^[0]__line
        border-color: white
      & ^[0]__button
        color: white
      & path
        fill white
  &__icon
    padding-right 1rem
  &__line
    border-bottom 1px dashed #D19863
    padding-bottom .6rem
  &__button
    position relative
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.4rem
    color #D19863
    background-color: transparent
    border none
    cursor pointer
