.header
  background url('/images/bg-header.png') center center/cover no-repeat
  &__top
    display flex
    padding-top 30px
    align-items: center
  &__content
    padding-top 10.8rem
    padding-bottom 14rem
  &__heading
    font-family: 'Intro'
    font-size: 4.2rem
    color: white
    line-height: 6.2rem
    margin-bottom 0.8rem
  &__text
    font-family: 'Solena'
    font-size: 5rem
    color: white
    margin-left 4.2rem
  &__button
    margin-top 7rem
  &__logo
    & path
      transition .3s
    &:hover path
      fill #D19863
