.jobs
  padding-top 7rem
  &__heading
    display flex
    justify-content: space-between
    align-items: center
  &__header
    font-family: 'Intro'
    font-size: 4rem
    color: black
  &__handwritten
    padding-top 7rem
