.menu
  flex-grow: 1
  display flex
  justify-content: center
  &__item
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.5rem
    color white
    border: none
    background-color: transparent
    cursor pointer
    transition: .3s
    margin-right 3rem
    &:last-child
      margin-right 0
    &:hover
      color: rgb(197, 134, 81)
