.sketches
  padding-top 3rem
  &#top-slider
    // padding 0
    & ^[0]__blocks
      margin 0
      height 32rem
  &__top-slider
    width 30rem
    flex-shrink: 0
    margin-right 2rem
    & img
      width 100%
  &__heading
    display flex
    justify-content: space-between
  &__header
    font-family: 'Intro'
    font-size: 4rem
    color black
    align-self: center
  &__handwritten
    padding-top 5.6rem
  &__blocks
    display flex
    flex-wrap wrap
    width 100%
    margin-top 3rem
    margin-bottom 2rem
    transition .2s
    justify-content: space-between
  &__controls
    margin-bottom 2rem
    display flex
    justify-content: center
    align-items: center
  &__button
    display flex
    justify-content: center
    align-items: center
    width 6.4rem
    height 6.4rem
    border-radius 50%
    background-color #F1E0D0
    box-shadow: 0 6px 14px rgba(0,0,0,.1)
    transition box-shadow .3s
    cursor pointer
    &:hover
      box-shadow: none
    &_mini
      position absolute
      top -1.6rem
      left 0
      width 4.1rem
      height 4.1rem
    & svg
      height 38.5%
      & path
        fill white
    &_left
      margin-right 3rem
      & svg
        transform: rotate(90deg) translateY(20%)
    &_right
      margin-left 6rem
      & svg
        transform: rotate(-90deg) translateY(20%)
  &__line
    position relative
    width 27rem
    height 0.9rem
    background-color #CECECE
    z-index 1
    &:after
      content: ''
      position absolute
      top 0
      left 100%
      width 3rem
      height .9rem
      background-color #CECECE
      z-index: -1
  &__circle
    display flex
    justify-content: center
    align-items: center
    height 73%
    width 73%
    border-radius 50%
    background-color #D19863
  &__range
    position relative
  &__input
    position absolute
    top -1rem
    left 0
    width 30rem
    height 3rem
    padding-left 1.3em
    padding-right 0.2em
    z-index 2
    opacity 0
    cursor pointer

.sketch
  width 22%
  height 32rem
  flex-shrink: 0
  background-color white
  box-shadow: 0 1rem 2.4rem rgba(0,0,0,0.08)
  padding-top 5rem
  transition .5s .2s
  text-align center
  cursor pointer
  will-change: height
  margin-right 2rem
  margin-bottom 4rem
  &__label
    font-family: 'Open Sans'
    font-size: 3rem
    font-weight: 700
    margin-top 2rem
  &__more
    display inline-block
    margin-top 4rem
    padding-bottom 0.5rem
    border-bottom 1px dashed #C88B52
    opacity 0
    transition .5s
    cursor pointer
    & svg
      transform: rotate(-90deg) translateX(.2rem)
      width 1.15rem
      & path
        fill #C88B52
  &__text
    font-family: 'Open Sans'
    font-size: 1.8rem
    font-weight: 600
    margin-left 0.3rem
    color #C88B52
  &:hover
    transition: .5s
    & ^[0]__sketch svg path, & ^[0]__sketch svg polyline
      stroke #C88B52
    & ^[0]__more
      opacity 1
      transition .5s .2s
  &__sketch
    & svg
      width 20rem
      height 10rem
      & path, & polyline
        transition: .5s
        fill transparent
        stroke black
  &__shape svg
    height 1.7rem
    margin-top 3.8rem

@media (max-width: 1024px)
  .sketches
    // &__blocks
    //   height 36rem
    &__header
      font-size: 2.8rem
    &__handwritten
      padding-top 2rem
  .sketch
    // height 31.9rem
    // width 37.2rem
    // &__sketch svg
    //   height 13rem
    width 24%
    margin-right: 0
    height: 24rem
    &__sketch svg
      height 6rem
    &__shape svg
      margin-top 2.5rem
    &__more
      margin-top 2.5rem
    &__label
      font-size: 2rem
    &__text
      font-size: 1.4rem

@media (max-width: 719px)
  .sketches
    // &__blocks
    //   height 27rem
    &__heading
      flex-direction: column
      align-self: flex-end
    &__header
      font-size: 2rem
      order -1
    &__handwritten
      margin-top 2rem
    &__range
      display none
    &__wrapper
      display: block;
      max-width: 29rem;
      margin: 0 auto;
      overflow: hidden;
  .sketch
    // width 100%
    // height 24.
    height 14rem
    padding-top 2rem
    margin-bottom 1rem
    &__sketch svg
      height 3rem
    &__label
      margin-top 1.4rem
      font-size 1.2rem
    &__shape svg
      height: 1.4rem
      margin-top 2rem
