.technology
  padding 0 0 13rem 0
  &__top
    display flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom 7.2rem
  &__left
    display flex
    flex-direction column
    justify-content: flex-start
    align-items: flex-start
    flex-basis 50%
  &__right
    flex-basis 33%
  &__title
    margin-top 13rem
    font-size 4rem
    line-height: 5.8rem
    margin-bottom 6.2rem
    font-family: Intro
    position: relative
    white-space: nowrap
    &:after
      content ''
      width 9rem
      height 2.5rem
      background url('../images/shape-hand.svg') center center/cover no-repeat
      position: absolute
      bottom -4rem
      left 0
  &__text
    font-size 1.6rem
    line-height: 3rem
    font-family Open Sans
    &_top
      width 92%
    &_content
      margin-bottom 3.6rem
    &_big
      font-size 1.8rem
    & span
      font-weight: 700
    & a
      color #C88B52
      font-weight 600
  &__handwritten
    padding-top 15rem
  &__content
    display flex
    justify-content: flex-start
    align-items: center
    position: relative
    margin-bottom 7.8rem
    &_left
      flex-basis 50%
      margin-right 9.4rem
    &_right
      flex-basis 34%
    &_leftrev
      flex-basis 42%
      align-self: center
      margin-right 0
    &_rightrev
      flex-basis 52%
      margin-right 7rem
  &__img
    width 100%
    object-fit: cover
    &_min
      width 45.8rem
      display: inline-block
  &__subtitle
    font-size 4rem
    font-family Intro
    margin-bottom 4rem
  &__descript
    font-size 1.6rem
    line-height 3rem
    font-family Open Sans
    font-weight: 600
    padding-left 2rem
    margin-bottom 3.2rem
    position: relative
    &:before
      content ""
      position: absolute
      left 0
      top 0
      width 0.6rem
      height: 100%
      background-color #D19863
  &__foot
    display flex
    align-items: center
    justify-content: flex-start
  &__button
    margin-right 3.4rem
    z-index 10
  &__fplus
    &:after
      content: ''
      position: absolute
      right: -17rem;
      top: -17rem;
      background: url('../images/pluses.png')
      width 34rem
      height: 26.2rem
  &__splus
    &:after
      content: ''
      position: absolute
      left: -18rem;
      top: -0rem;
      background: url('../images/pluses.png')
      width 34rem
      height: 26.2rem
  &__tplus
    &:after
      content: ''
      position: absolute
      right: -17rem;
      top: 11rem;
      background: url('../images/pluses.png')
      width 34rem
      height: 26.2rem
  &__frplus
    &:after
      content: ''
      position: absolute
      left: -18rem;
      top: 20rem;
      background: url('../images/pluses.png')
      width 34rem
      height: 26.2rem


// @media (max-width: 1024px)
//   .technology
