.works
  padding-bottom 8rem
  &__title
    margin-bottom 4.4rem
  &__descript
    font-weight: 400
    font-size 1.4rem
  &__subtitle
    color: #121212;
    font-family: Intro;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom 4rem
  &__items
    display flex
    align-items flex-start
    justify-content space-between
    flex-wrap wrap
    margin-bottom 5rem
  &__item
    color: #121212;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    position relative
    padding-left 2.4rem
    margin-bottom 1.6rem
    &:before
      content ''
      position absolute
      width 0.9rem
      height 0.9rem
      background-color: #bb5e36;
      top 5px
      left 0
  &__images
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
  &__img
    margin-bottom 3rem
    margin-right 3rem

