<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/vendor/swiper.min.css")
    link(rel="stylesheet", href="/vendor/tingle.css")
    link(rel="stylesheet", href="/vendor/lightgallery.min.css")
    script(src="/vendor/tingle.min.js")
    script(src="/vendor/swiper.min.js")
    script(src="/vendor/smooth-scroll.polyfills.min.js")
    script(src="/vendor/inputmask.dependencyLib.min.js")
    script(src="/vendor/inputmask.min.js")
    script(src="/vendor/lightgallery.min.js")
    script(src="/vendor/lg-thumbnail.js")
    title Strogo
  body
    include ../blocks/_preloader.pug
    a.to-top(href="#wrapper")
      img(src="/images/to-top2.png")
    #wrapper
      block content
    script(src="/js/main.js")
